$def with(user)
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<title>About - Diseño de Aplicaciones para Internet</title>
	<meta charset="utf-8">
	<link href="static/css/style.css" rel="stylesheet" type="text/css">
	<!--[if IE 7]>
		<link href="css/ie7.css" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header"> <a href="inicio" id="logo"><img src="static/images/logo.png" width="295" height="55" alt="Chronokeep Website Template"></a>
				<ul class="navigation">
					<li>
						<a href="inicio">Home</a>
					</li>
					<li>
						<a class="active" href="sobre">About</a>
					</li>
					<li>
						<a href="show">Mis Datos</a>
					</li>
					<li>
						<a href="logout">Logout</a>
					</li>
				</ul>
			</div>
			<!-- start of body-->
			<div id="body">
				<div id="content">
					<ul id="about">
						<li class="first">
							<ul>
								<li>
									<h2><a href="sobre">En esta parte de la práctica 4</a></h2>
									<p>
									    vamos ha utilizar diferentes tipos de tecnologias. RSS, Google Chasts, Google Maps e integracion de Twitter.

									</p>
								</li>
								<li>
									<h2><a href="sobre">Timeline cuenta de Python en Twitter #Practica4DAI</a></h2>
									<a class="twitter-timeline" href="https://twitter.com/ThePSF" data-widget-id="412207788555653121">Tweets por @ThePSF</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
								</li>
							</ul>
						</li>
						<li class="last">
							<a href="sobre"><img src="static/images/stick.png" width="493" height="484" alt="Website Template"></a>
						</li>
					</ul>
				</div>
			<!-- end of body-->
			<div id="footer">
				<div>
					<div class="header"> <a href="inicio"><img class="logo" src="static/images/logo.png" width="187" height="37" alt="Chronokeep Website Template"></a>
						<ul class="connect">
							<li>
								<a href="http://www.freewebsitetemplates.com/go/facebook/" class="facebook">&nbsp;</a>
							</li>
							<li>
								<a href="http://www.freewebsitetemplates.com/go/twitter/" class="twitter">&nbsp;</a>
							</li>
							<li>
								<a href="http://www.freewebsitetemplates.com/go/googleplus/" class="googleplus">&nbsp;</a>
							</li>
						</ul>
					</div>
					<div class="body">
						<ul class="navigation">
							<li>
								<a href="inicio">Home</a>
							</li>
							<li>
								<a href="sobre">About</a>
							</li>
							<li>
								<a href="show">Mis Datos</a>
							</li>
							<li>
								<a href="logout">Logout</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="footnote"> &copy; Copyright &copy; 2011 Company name all rights reserved. Autor Rafael Carrasco  </div>
			</div>
		</div>
	</div>
</body>
</html>