$def with(mej)
<html>
<head>
	<title>Login - Diseño de Aplicaciones para Internet</title>
	<meta charset="utf-8">
	<link href="static/css/style.css" rel="stylesheet" type="	text/css">
	<!--[if IE 7]>
		<link href="css/ie7.css" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
  <div id="background">
		<div id="page">
			<div id="header"> <a href="inicio" id="logo"><img src="static/images/logo.png" width="295" height="55" alt="Python"></a>
				<ul class="navigation">
					<li>
						<a class="active" href="sign">Sign up</a>
					</li>
				</ul>
			</div>
			<div id="body">
				<div id="content">
					<h2>Indentificacion</h2>
					<ul id="article">
						<li>
							<img src="static/images/logolit.png" width="156" height="156" alt="Python">
							<h2><a href="register">Login</a></h2>
							<p>
							  <b>$mej</b>
							  <form action="/" method="POST">
							    <input type="text" name="usuario" placeholder="Username" required title="Se necesita un nombre de usuario">
							    <input type="password" name="passw" placeholder="Password" required title="Se necesita una contraseña">
							    <button type="submit">Entrar</button>
							  </form>  			    
							</p>
						</li>
					</ul>
				</div>
				
			</div>
			<!-- end of body-->
			<div id="footer">
				<div>
					<div class="header"> <a href="register"><img class="logo" src="static/images/logo.png" width="187" height="37" alt="Python"></a>
						<ul class="connect">
							<li>
								<a href="http://www.freewebsitetemplates.com/go/facebook/" class="facebook">&nbsp;</a>
							</li>
							<li>
								<a href="http://www.freewebsitetemplates.com/go/twitter/" class="twitter">&nbsp;</a>
							</li>
							<li>
								<a href="http://www.freewebsitetemplates.com/go/googleplus/" class="googleplus">&nbsp;</a>
							</li>
						</ul>
					</div>
					<div class="body">
						<ul class="navigation">
							<li>
								<a href="sign">Sign up</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="footnote"> &copy; Copyright &copy; 2011 Company name all rights reserved. Autor Rafael Carrasco </div>
			</div>
		</div>
	</div>
</body>
</html>						